body{
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-rows: clamp(200px,30vh,30vh) 1fr clamp(4vh,5vh,5vh); /*nifty trick to make the page scrollable and the header always at the bottom!*/
    margin:0;
    height:100vh;
    --barnard_blue: #012f6c;
}
/*
.container{
    border:1px black solid;
}*/

.top{
    grid-row:1/2;
    display:grid;
    grid-template-rows:2fr 1fr;
    background-color:var(--barnard_blue);
    color:white;
}

.header{
    grid-row:1/2;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 1px white solid;
}

.header button{
    border:none;
    background-color: var(--barnard_blue);
    color:white;
}

.header_content{
    display: grid;
    grid-template-rows: 70% 30%;
}

.header_content span{
    text-align: center;
}

#big_name{
    grid-row:1/2;
    font-size:40px;
    margin:5px;
}

#small_name{
    grid-row:2/3;
    font-size:20px;
    margin: 5px;
}

.menu{
    grid-row:2/3;
    display: flex;
    background-color: var(--barnard_blue);
    margin:0;
}

.menu_btn_container{
    flex: 1;
}

.menu_btn_container button{
    background-color: var(--barnard_blue);
    display: block;
    height:100%;
    width:100%;
    border:none;
    color:white;
    font-size:medium;
}

button:hover{
    cursor:pointer;
}

.page{
    padding-right:30px;
    grid-row:2/3;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;
    padding-right:30px;
    padding-left:30px;
}

.intro{
    grid-row:1/2;
    grid-column:1/3;
    
}

.map{
    grid-row:2/3;
    grid-column:1/2;
    min-width:50vw;
    display: grid;
    justify-content: left;
    padding-left: 30px;
    padding-right: 30px;
}

.data{
    grid-row:2/3;
    grid-column:2/3;
    grid-template-rows:auto auto;
    padding-left:5px;
    padding-right:5px;
}

.data div{
    grid-row:1/2;
    text-align: center;
    font-size:medium;
    padding:5px;
}

.data table{
    grid-row:2/3;
    width:100%;
    border:1px black solid;
    border-collapse:collapse;
}

.data th,tr,td{
    border:1px black solid;
    border-collapse:collapse;
}

.footer{
    grid-row:3/4;
    background-color: var(--barnard_blue);
    color:white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer_content{
    display: grid;
    grid-template-columns: 70% 30%;
    min-width:100px;
}

.footer_content span{
    grid-column:1/3; /*change this if want to add logo later*/
    font-size:15px;
    text-align:center;
    align-items: center;
}
/*
.footer_content img{
    grid-column: 2/3;
    width:15px;
    height:15px;
    align-items:center;
    justify-content: center;
}*/

#us-map{
    width: clamp(40vw,100%,100vw);
    height: clamp(30vw,100%,100vw);
}

tr{
    text-align: center;
}

p{
    text-align:justify;
    text-indent:30px;
}
